﻿body {
  background-color: #000000;
  margin: 0px;
 
}

.tesla3 img {
  width: 100%;
  margin: 0px;
  opacity: 0.6;
}

 

.flex {
  background-color: #fff;
  display: flex;
  height: 60px;
  align-items: center;
}

.logo img {
  width:250px;
  margin-left: 85px;
}


.item1 a {
  color: #FF0001;
  text-decoration: none;
  margin-left: 100px;
}

.item a {
  color: #FF0001;
  text-decoration: none;
  margin-left: 40px;
}

.link a {
  margin-left: 40px;
  color: #FF0001;
  font-size: 19px;
}

.link1 a {
  margin-left: 140px;
  color: #FF0001;
}

.tesla3 .btn {
  position:relative;top:-300px;
  color: #FF0001;
  margin-left: 60px;
  width: 240px;
  font-size: 14px;
  font-weight: 550;
  padding: 13px;
  cursor: pointer;
  border: 1px solid white;
  
}
.text {
  position:absolute;top:300px;
  margin-left: 60px;
 
}

.text1 {
  position:absolute;top:400px;
  color: #fff;
  font-size: 21px;
  margin-left: 60px;
  filter: contrast(150%);
  
}
  
.text2 {
  position:absolute;top:300px;
  margin-left: 850px;
  color: #fff;
  padding:13px;
  background: #000000;
  opacity: 0.6;
}


.tesla3 .btn:hover {
  background-color: transparent;
  transform: scale(1.2);
}

